.logo-facebook{
    height: 100px;
    width: 100px;
    background: transparent;
    

}

.logo-instragram{
    height: 147px;
    width: 160px;
    background: transparent;
}

.logo-whatsapp{
    height: 100px;
    width: 120px;
}
